/* *{
    color:pink;
}
body{
    background-color: grey;
}
button{
    background-color: blanchedalmond;
    color: black;
}
#headingOne{
    color:white;
}
#headingTwo{
    color: greenyellow;
}
.Myclass{
    color : yellow;
} */

/* Practice Sheet 1

#box{
    background-color: blue;
}
.heading{
    color: red;
}
/* h1, h2, h3{
    color: red;
} */

/* button{
    background-color: green;
} */