/* *{
    color:pink;
}
body{
    background-color: grey;
}
button{
    background-color: blanchedalmond;
    color: black;
}
#headingOne{
    color:white;
}
#headingTwo{
    color: greenyellow;
}
.Myclass{
    color : yellow;
} */

/* Practice Sheet 1

#box{
    background-color: blue;
}
.heading{
    color: red;
}
/* h1, h2, h3{
    color: red;
} */

/* button{
    background-color: green;
} */

/* Text Properties

p{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration:cyan wavy underline;
}

#h1{
    font-weight: 100;
}
#h2{
    font-weight: 300;
}
#h3{
    font-weight: 550;
}
#h4{
    font-weight: 900;
}
a{
    text-decoration: none;
}

#one {
    font-family: arial;
}

#two{
    font-family: 'Segoe UI';
} */
/* 
#one{
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
}
#two{
    font-size: 13px;
}
#three{
    font-size: 10px;
} */

/* Practice Sheet 2

*{
    font-family: Times New Roman;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */

/* Border Properties

div{
    height: 100px;
    width: 100px;
    background-color: pink;
     border-width: 2px;
    border-style: solid;
    border-color: cyan; 
    border: 2px solid cyan;
    text-align: right;
}
h1{
    width: 200px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dashed;
    border-color: black; 
    border: 3px dashed black;
    text-align: center;
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
     border-radius: 15px;
    border-radius: 50%; 
     padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
     padding: 10px; 
    padding: 5px 10px 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
     margin: 50px; 
    margin: 5px 10px 15px 20px;

} */

/* Traffic Light

#parent{
    height: 1200px;
    width: 200px;
    background-color: black;
}

#child1{
    height: 180px;
    width: 180px;
    background-color: red;
    border-radius: 50%;
}
#child2{
    height: 180px;
    width: 180px;
    background-color: yellow;
    border-radius: 50%;
}
#child3{
    height: 180px;
    width: 180px;
    background-color: green;
    border-radius: 50%;
} */

/* Practice Sheet 3 */

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

/* body{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
} */

/* Block, Inline and Inline-block Properties */

/* div{
    background-color: pink;
    display: inline;
}

button{
    display: block;
} */

/* div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    /* display: inline; 
    display: inline-block;
}

#box1{
    background-color: blue;

}
#box2{
    background-color: green;
    /* display: none; 
    visibility: hidden;
}
#box3{
    background-color: red;
} */