/* *{
    color:pink;
}
body{
    background-color: grey;
}
button{
    background-color: blanchedalmond;
    color: black;
}
#headingOne{
    color:white;
}
#headingTwo{
    color: greenyellow;
}
.Myclass{
    color : yellow;
} */

/* Practice Sheet 1

#box{
    background-color: blue;
}
.heading{
    color: red;
}
/* h1, h2, h3{
    color: red;
} */

/* button{
    background-color: green;
} */

/* Text Properties

p{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration:cyan wavy underline;
}

#h1{
    font-weight: 100;
}
#h2{
    font-weight: 300;
}
#h3{
    font-weight: 550;
}
#h4{
    font-weight: 900;
}
a{
    text-decoration: none;
}

#one {
    font-family: arial;
}

#two{
    font-family: 'Segoe UI';
} */
/* 
#one{
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
}
#two{
    font-size: 13px;
}
#three{
    font-size: 10px;
} */

/* Practice Sheet 2

*{
    font-family: Times New Roman;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */

/* Border Properties

div{
    height: 100px;
    width: 100px;
    background-color: pink;
     border-width: 2px;
    border-style: solid;
    border-color: cyan; 
    border: 2px solid cyan;
    text-align: right;
}
h1{
    width: 200px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dashed;
    border-color: black; 
    border: 3px dashed black;
    text-align: center;
} */

