body{
    text-align: center;
}
#mainbox{
    display: flex;
    height: 200px;
    width: 800px;
    border: 2px solid black;
    flex-direction: row;
    /* flex-direction: row-reverse;;
    flex-direction: column;
    flex-direction: column-reverse; */

    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}

.box{
    display: inline-block;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

#box1{
    text-align: center;
    background-color: aqua;
}
#box2{
    text-align: center;
    background-color: pink;
}
#box3{
    text-align: center;
    background-color: gray;
}
#box4{
    text-align: center;
    background-color: red;
}
#box5{
    ext-align: center;
    background-color: purple;
}
