body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#loader{
    height: 100px;
    width: 100px;
    border: 13.5px solid #c7f9cc;
    border-left: 13.5px solid #57cc99;
    border-radius: 50%; 
    animation: spinAnime 2s ease-in-out infinite normal;
}

@keyframes spinAnime {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}