#parent{
    height: 1200px;
    width: 200px;
    background-color: black;
}

#child1{
    height: 180px;
    width: 180px;
    background-color: red;
    border-radius: 50%;
}
#child2{
    height: 180px;
    width: 180px;
    background-color: yellow;
    border-radius: 50%;
}
#child3{
    height: 180px;
    width: 180px;
    background-color: green;
    border-radius: 50%;
}